In [6]:
from bs4 import BeautifulSoup as bs
import requests
import pandas as pd

In [7]:
url = 'https://www.akc.org/most-popular-breeds/2018-full-list/'

In [8]:
response = requests.get(url)

In [9]:
soup = bs(response.text, 'html.parser')

In [10]:
results = soup.find_all('td')
# print(results[1:5])

In [11]:
breeds = []
ranks = []
counter = 0
for result in results[2:]:
    data = result.text
    if (counter % 2) == 0:
        breeds.append(data)
    else:
        ranks.append(data)
    counter += 1
#     print(data)
#     print("------")

In [54]:
# test_df = pd.DataFrame(list(zip(breeds, ranks)))
# test_df.head()

In [55]:
rank_df = pd.DataFrame({"Breeds": breeds, "Ranks": ranks})
rank_df.sort_values("Breeds").head(10)

                              Breeds Ranks
147                   Affenpinschers   148
112                    Afghan Hounds   113
59                 Airedale Terriers    60
46                            Akitas    47
57                 Alaskan Malamutes    58
174      American English Coonhounds   175
121             American Eskimo Dogs   122
185               American Foxhounds   186
135       American Hairless Terriers   136
84   American Staffordshire Terriers    85

In [54]:
csv_file = "dog_intelligence.csv"
intelligence_df = pd.read_csv(csv_file)
intelligence_df.sort_values("Breed").head(10)

,Breed,Classification,obey,reps_lower,reps_upper
53,Affenpinscher,Above Average Working Dogs,70%,16,25
135,Afghan Hound,Lowest Degree of Working/Obedience Intelligence,NaN,81,100
36,Airedale Terrier,Above Average Working Dogs,70%,16,25
102,Akita,Average Working/Obedience Intelligence,50%,26,40
93,Alaskan Malamute,Average Working/Obedience Intelligence,50%,26,40
82,American Foxhound,Average Working/Obedience Intelligence,50%,26,40
46,American Staffordshire Terrier,Above Average Working Dogs,70%,16,25
74,American Water Spaniel,Average Working/Obedience Intelligence,50%,26,40
9,Australian Cattle Dog,Brightest Dogs,95%,1,4
67,Australian Shepherd,Average Working/Obedience Intelligence,50%,26,40

In [56]:
csv_file = "akc_breed_info.csv"
breed_df = pd.read_csv(csv_file, encoding='ISO-8859-1')
breed_df.tail()

,Breed,height_low_inches,height_high_inches,weight_low_lbs,weight_high_lbs
145,Papillon,8,11,5,10
146,Pomeranian,12,12,3,7
147,Poodle Toy,10,10,10,10
148,Toy Fox Terrier,10,10,4,7
149,Yorkshire Terrier,8,8,3,7

In [40]:
#breeds_df.sort_values('Breed').head(5)

In [61]:
new_df = pd.merge(breed_df, intelligence_df, left_on ="Breed", right_on="Breed", how="right")
new_df.head(20)

,Breed,height_low_inches,height_high_inches,weight_low_lbs,weight_high_lbs,Classification,obey,reps_lower,reps_upper
0,Akita,26,28,80,120,Average Working/Obedience Intelligence,50%,26,40
1,Bernese Mountain Dog,23,27,85,110,Excellent Working Dogs,85%,5,15
2,Bloodhound,24,26,80,120,Lowest Degree of Working/Obedience Intelligence,NaN,81,100
3,Borzoi,26,28,70,100,Lowest Degree of Working/Obedience Intelligence,NaN,81,100
4,Bullmastiff,25,27,100,130,Fair Working/Obedience Intelligence,30%,41,80
5,Great Dane,32,32,120,160,Average Working/Obedience Intelligence,50%,26,40
6,Great Pyrenees,27,32,95,120,Fair Working/Obedience Intelligence,30%,41,80
7,Irish Wolfhound,28,35,90,150,Average Working/Obedience Intelligence,50%,26,40
8,Kuvasz,28,30,70,120,Average Working/Obedience Intelligence,50%,26,40
9,Mastiff,27,30,175,190,Lowest Degree of Working/Obedience Intelligence,NaN,81,100
10,Newfoundland,26,28,100,150,Above Average Working Dogs,70%,16,25
11,Rottweiler,22,27,90,110,Brightest Dogs,95%,1,4
12,Saint Bernard,25,28,110,190,Fair Working/Obedience Intelligence,30%,41,80
13,Afghan Hound,25,27,50,60,Lowest Degree of Working/Obedience Intelligence,NaN,81,100
14,Alaskan Malamute,na,na,na,na,Average Working/Obedience Intelligence,50%,26,40
15,American Foxhound,22,25,65,70,Average Working/Obedience Intelligence,50%,26,40
16,Belgian Malinois,22,26,60,65,Excellent Working Dogs,85%,5,15
17,Belgian Sheepdog,22,26,60,75,Excellent Working Dogs,85%,5,15
18,Boxer,21,25,65,70,Average Working/Obedience Intelligence,50%,26,40
19,Briard,23,27,74,76,Above Average Working Dogs,70%,16,25